
*{
 
  margin: 20px;
  margin-top: 0px;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home h1{
  font-weight: 800;
  font-size: 70px;
}
.home h3{
  font-size: 40px;
}
.home p{
  text-align: center justify;
  font-size: 20px;
}
.home input{
  border-radius: 15px;
  width: 80%;
  background-color: white;
  color: black;
  height: 30px;
  padding: 5px;
}
.home button{
  display: block;
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
/*.home-buttons
{
  display: block;
  width: 80%;
  text-decoration: none;
  
}
.home-buttons button{
  display: inline;
  padding: 5px;
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  
}*/
.image{
  text-align: center;
}
.go-home button{
  font-size: 20px;
  color: white;
  background-color: orangered;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}
.ind
{
  display: inline;
  text-decoration: none;
}
.image-box{
  float: left;
  width: 30%;
  margin: 5px;
}
/*.ind h4{
  float:left;
  width: 20%;
}*/
.image-details{
  float: left;
  width: 40%;
  /*display: inline-block;*/
}
.movie-details{
  float: left;
  width: 50%;
}
.movie-details h2{
  font-size: 30px;
  text-align: left;
}
.movie-details p{
  text-align: justify;
}
.movie-details button{
  font-size: 20px;
  border-radius: 8px;
  color: white;
  background-color: blueviolet;
}
.rating-details h4{
  display: inline;
  margin: 30px;
  margin-left: 0px;
}
.image-box h4{
  text-decoration: none;
}
.image-box{
  transition: transform .2s;
  height: 600px;
  width : 375px;
}
.image-box:hover{
  transform: scale(1.1);
}
.navbar{
  margin-top: 0px;
  width: 100%;
  font-size: 25px;
  
  text-decoration: solid;
}
.navbar-home{
  text-decoration: none;
  
  color:white;
}
.navbar-home:hover{
  text-decoration: none;
  
  color:blueviolet;
}

.navbar-watchlist{
  text-decoration: none;
  
  color:white;
}
.navbar-watchlist:hover{
  text-decoration: none;
  
  color:blueviolet;
}
.navbar-about{
  text-decoration: none;
 
  color:white;
}
.navbar-about:hover{
  text-decoration: none;
 
  color:blueviolet;
}
.Watchlist{
  display: block;
  background-color: white;
}
.Watchlist-details{
  display:flex;
  padding: 10px;
  background-color: black;
  width: 100%;
  margin: 3px;
  border-radius: 5px;
}
.Watchlist-details img{
    float:left;
    width: fit-content;

}
.info{
  float: right;
  font-size: 25px;
}
.info p{
  color: orangered;
  font-size: 15px;
}
.about p{
  color: white;
  font-size: 25px;
  text-align: justify;
}

